<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.stratTradepanel" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="source" value="C:\repos\miles\SFX Trade Panel\Archive r3 - May 2018 (updated) -lite"/>
    <add key="dest" value="c:\Temp"/>
  </appSettings>
    <userSettings>
        <WindowsFormsApplication1.stratTradepanel>
            <setting name="source" serializeAs="String">
                <value>c:\source</value>
            </setting>
            <setting name="dest" serializeAs="String">
                <value>c:\dest</value>
            </setting>
        </WindowsFormsApplication1.stratTradepanel>
    </userSettings>
</configuration>
